# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local
.env

# Configurações do agente IA
.claude/

# Arquivos temporários do Supabase
supabase/.temp/

# Configurações locais do Supabase
supabase/config.toml

# Arquivos compilados do Java / Maven
*.class
backend/target/

#application properties
application.properties
